.amber-alert {
    font-family: Arial;
    font-size: 16px;
    font-weight: bolder;
    background-color: #FFBF00;
    color: white;
    padding: 4px;
    width: 100%;
    z-index: 1000000;
    position: fixed;
    text-align: center;
    -webkit-transition: max-height 0.8s, background .1s linear;
    -moz-transition: max-height 0.8s, background .1s linear;
    -ms-transition: max-height 0.8s, background .1s linear;
    transition: max-height 0.8s, background .1s linear;
    max-height: 26px;
    overflow: hidden;
}

.amber-alert:hover {
    max-height: 450px;
    background: darken(#FFBF00, 15%);
}

.amber-info {
    padding-top: 20px;
    width: 800px;
    margin: 0 auto;
}

table, tbody, tr, td {
    border: none !important;
    border-width: 0;
}

.table-data td, .table-data tr {
    padding: 0px;
}

tr td {
    vertical-align: middle;
}